.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
/*.x.axis path {
	display: none;
}*/
.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.curve-chart{
	margin:auto;
	width:750px;
	position: relative;
	top:200px;
}