/* app css stylesheet */
.root{
  margin: auto;
  position: relative;
  top: 150px;
  width: 750px;
}
.mainTable{
  display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    border: 1px solid;
}

.mainTable tr{
  height:35px;
}

.mainTable th{
  width:150px;
}

.mainTable td{
  width:150px;
  text-align: center;
}
