/* app css stylesheet */
.root{
  margin: auto;
  position: relative;
  top: 150px;
  width: 750px;
}
.mainTable{
  display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid black;
}

.mainTable tr{
  height:35px;
}

.mainTable th{
  display: table-cell
  width:150px;
  border: 1px solid black;
}

.mainTable td{
  display: tablec-cell;
  width:150px;
  text-align: center;
  border: 1px solid black;
}

.participantTable{
  display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

.participantTable tr{
  height:35px;
}

.participantTable th{
  display: table-cell
  width:150px;
  border: 1px solid black;
}
.participantTable td td{
  display: tablec-cell;
  width:150px;
  text-align: center;
  border: 1px solid black;
  vertical-align:middle;
}
.participantTable td{
  display: tablec-cell;
  text-align: center;
  vertical-align:top;
}

.assessmentDetailTable{
  display: table;
    border-collapse: separate;
    border-spacing: 2px;
	    border: 1px solid black;
}

.assessmentDetailTable tr{
  height:35px;
}

.assessmentDetailTable th{
  display: table-cell
  width:150px;
  border: 1px solid black;
}

.assessmentDetailTable td{
  display: tablec-cell;
  width:150px;
  text-align: center;
    border: 1px solid black;
}


.chart{
margin: auto;
width: 750px;
position: relative;
top: 200px;

}

.highlight{
  background-color: #FF9900;
}

.searchBar{
	margin-left: auto;
    margin-right: 0;
	margin-bottom: 5px;
    width: 236px;
}






