.chart .background{
	background-color:lavender;
	position:absolute;
	height: 25px;
}

.chart .score-range{
	background-color:palegreen;
	position:absolute;
	top:0;
}

.chart .min-text{
	position:absolute;
	top:25px;
}

.chart .avg-bar{
	position:absolute;
	top:0px;
	background-color:coral;
	height: 25px;
}

.chart .avg-text{
	position:absolute;
}

.chart .score-bar{
	position:absolute;
	top:0px;
	background-color:black;
	height: 25px;
}

.chart .score-text{
	position:absolute;
}

.chart .max-text{
	position:absolute;
	top:-20px;
}
