<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="report" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Report</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="chart.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <div class="root" ng-controller="reportController as report">
    <table class="mainTable" ng-show="report.selectMainTable">
      <tr>
		<th ng-click="report.showMainTable()">Name</th>
        <th ng-repeat="key in report.keys" ng-click="report.showAssessmentDetail(key)">{{key}}</th>
		<th>Overall</th>
      </tr>
      <tr ng-repeat="row in report.rows">
		<td ng-click="report.showParticipantDetail(row.id)">{{row.name}}</td>
        <td ng-repeat="key in report.keys" ng-click="report.updateChart(row, key, 'overall')" ng-class="{highlight:report.isSelectCell(row,key)}">{{row.scores[key].overall}}</td>
		<td>{{row.overall}}</td>
      </tr>
    </table>
	<table class="participantTable" ng-show="report.selectParticipantDetailTable">
      <tr>
        <td>
          <table>
            <tr><th ng-click="report.showMainTable()">Name</th></tr>
            <tr><td>{{report.selectParticipant.name}}</td></tr>
          </table>
        </td>
         <td ng-repeat="key in report.keys">
          <table>
            <tr>
              <th style="width:75%" ng-click="report.showAssessmentDetail(key)">{{key}}</th>
              <th style="width:25%">{{report.selectParticipant.scores[key].overall}}</th>
            </tr>
            <tr ng-repeat="competency in report.scoreCompetency[key]">
              <td>{{competency}}</td>
              <td>{{report.selectParticipant.scores[key][competency]}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
	<table class="assessmentDetailTable" ng-show="report.selectAssessmentDatailTable">
      <tr>
		<th ng-click="report.showMainTable()">Name</th>
        <th ng-repeat="competency in report.scoreCompetency[report.selectAssessmentKey]">{{competency}}</th>
      </tr>
      <tr ng-repeat="participant in report.rows">
		<td ng-click="report.showParticipantDetail(participant.id)">{{participant.name}}</td>
        <td ng-repeat="competency in report.scoreCompetency[report.selectAssessmentKey]">{{participant.scores[report.selectAssessmentKey][competency]}}</td>
      </tr>
    </table>
  </div>
  
<div class="chart">
	<div class="background" ></div>
	<div class="score-range" ></div>
	<div class="min-text" ></div>
	<div class="avg-bar" ></div>
	<div class="avg-text" ></div>
	<div class="score-bar" ></div>
	<div class="score-text" ></div>
	<div class="max-text" ></div>
</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="lib/d3.min.js" charset="utf-8"></script>
  <script src="chart.js"></script>
  <script src="data.js"></script>
  
</body>
</html>
