.input-text-box{

}

.node-group-name{
	width : 400px;
}

.node-value{
	width : 300px;
}

.node-description{
	width: 400px;
	height: 100px;
	vertical-align: top;
}

.node-option{
	width:150px;
}

.mappingTable td{

		border: 1px solid black;
}

.node-table td {
	border: 1px solid black;
}

td.error {
	background: red;
}