.input-text-box{

}

.node-group-name{
	width : 400px;
}

.node-value{
	width : 300px;
}

.node-description{
	width: 400px;
	height: 100px;
	vertical-align: top;
}

.node-option{
	width:150px;
}

.mappingTable td{
	width:100%;
	border: 1px solid black;
}

.mappingTable td.small {
	width:5%;
}

.mappingTable td.medium {
	width:15%;
	word-wrap:break-word;
}

.mappingTable td.big {
	word-wrap:break-word;
}

.node-table td {
	border: 1px solid black;
	width:100%;
}

td.error {
	background: red;
}

.node-table-container{
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.node-table td.small {
	width:5%;
}

.node-table td.medium {
	width:15%;
	word-wrap:break-word;
}

.node-table td.big {
	word-wrap:break-word;
}